* {
    margin: 0px;
    box-sizing: border-box;
}

.scoreBoard {
    width: 500px;
    height: 70px;
    border-radius: 50px;
    font-size: 30px;
    overflow: hidden;
    color: rgb(250, 250, 250);
    text-shadow: 1px 1px 1px rgb(29, 29, 29);
}

.top {
    height: 35px;
    background-color: #2193b0;
}

.teamNames {
    display: inline;
    margin-left: 30px;
}

.score {
    width: 150px;
    display: inline-block;
    margin: 0 auto;
    text-align: center;
    background: #cc2b5e;
    /* fallback for old browsers */
    /* background: -webkit-linear-gradient(to left, #cc2b5e, #2193b0); */
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #cc2b5e, #0f596b);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    border-radius: 7px 7px 30px 30px;
}

.overs {
    display: inline;
    margin-left: 20px;
}

.bottom {
    height: 35px;
    text-align: center;
    background-color: #6dd5ed;
}